@charset "UTF-8";
@import '~bootstrap/scss/bootstrap';

body,
body * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

input:focus,
button:focus:not(.accordion-button),
select:focus {
    box-shadow: none !important;
}

.row {
    --bs-gutter-x: 0;
}

/**
* ag grid 
*/

.ag-theme-alpine .ag-header {
    background: #f1f4f5;
    border-top: 2px solid #607d8b;
}

.ag-theme-alpine .ag-header .ag-header-cell {
    // color: white;
}

.ag-cell .ag-react-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.ag-root .ag-row-odd {
    background-color: #f1f4f5;
}

.ag-theme-alpine .ag-root .ag-row-odd.ag-row-selected {
    background-color: rgba(33, 150, 243, 0.3);
}

.ag-root .ag-row-hover {
    background-color: #cfd8dc !important;
}

.ag-theme-alpine .ag-row.alreadyEnroll,
.ag-theme-alpine .ag-row.alreadyEnroll.ag-row-hover {
    background-color: lightcoral !important;
}

.ag-row-hover .editWrap {
    & .editIcon {
        display: block;
    }
}

.ag-theme-alpine .ag-root .ag-cell-data-changed {
    background-color: #fddfdb !important;
}

.ag-theme-alpine .ag-root .ag-details-row {
    padding: 15px;
}

.ag-theme-alpine .ag-ltr .ag-side-bar-right,
.ag-theme-alpine .ag-root-wrapper .ag-menu {
    border-top: 2px solid #90a4ad;
}

.editWrap {
    width: 100%;
    display: flex;

    & .editTitle {
        width: 100%;
        overflow: hidden;
    }

    & .editIcon {
        display: none;
        & svg {
            font-size: 21px;
            cursor: pointer;
            fill: #929292;
            &:first-child {
                font-size: 24px;
            }

            &:hover {
                fill: #e91e63;
            }
        }
    }
}

/**
* Bootstrap Modal
*/

.modal-dialog .modal-content .modal-header {
    height: 50px;
    padding: 1rem 20px;
    & .h4 {
        color: black;
        font-size: 1rem;
        font-weight: 400;
    }
    border-color: #cfcfcf;
}

.modal-dialog .modal-content .modal-body {
    padding: 20px;
}

.modal-dialog .modal-footer {
    padding: 12px 20px;

    & > * {
        margin: 0px;
    }
    border-color: #cfcfcf;
}
.modal-dialog {
    transition: none !important;
}

.react-draggable .modal-header {
    cursor: grab;

    &:active {
        cursor: grabbing;
    }
}

/**
* Bootstrap Accordion
*/

.accordion .accordion-header .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
}

.accordion .accordion-header {
    & button {
        font-size: 0.9375rem;
        height: 45px;
        color: black;
        background-color: white;
    }
    & .accordion-button:focus {
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.13);
    }
}

.accordion .accordion-collapse {
}

.accordion .accordion-body {
    padding: 20px 20px 0px 20px;
}

/**
* rc-time-picker : custom
*/

.rc-time-picker .rc-time-picker-input {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    color: #212529;
    height: auto;
}
.rc-time-picker-panel .rc-time-picker-panel-input-wrap,
.rc-time-picker-panel .rc-time-picker-panel-select {
    font-size: 1rem;
}

.rc-time-picker .rc-time-picker-clear {
    height: 100%;
    top: 0px;
    display: none;
}

.rc-time-picker .rc-time-picker-clear .rc-time-picker-clear-icon:after {
    height: 100%;
    font-size: 1.2rem;
    line-height: 37px;
}

.rc-time-picker .rc-time-picker-input[disabled] {
    background-color: #e9ecef;
    opacity: 1;
    color: #212529;
    transition: none;
}

/**
*   tooltip
*/

.tooltip .tooltip-inner {
    max-width: 400px;
}

/**
*   CKEDITOR5
*/

.ck.ck-editor__top.ck-reset_all {
    border-top: 3px solid #607d8b;
}

/**
*   Toast Container
*/

.offcanvas-body .toast-container {
    width: 100%;
}

.offcanvas-body .toast-container .toast {
    border: 1px solid rgba(0, 0, 0, 0.17);
}
